<!DOCTYPE html>
<html lang="en">
<head>
	<title>Article Blog</title>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
	<style type="text/css">
		a:link {color: black;}
		a:visited {color: black;}
		.container {background-color:white;margin-top:10px;margin-bottom:10px;}
	</style>
</head>
<body style="background-color:#292d33;">
	{% block body %}
	{% endblock %}
</body>
</html>